@import '../../variables.scss';

.beam {
    text-transform: uppercase;
    font-weight: $font-weight-semibold;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            margin-right: .4rem;
            margin-bottom: .8rem;
            font-size: .8rem;

            a {
                color: white;
            }
            
        }
    }
    &__isSelected{
        
        text-decoration: overline;
        
    }
    &__div-item{
        display: flex;
    }
    &__input {
        display: none;
        background: transparent;
        color: $color-white;
        border: none;
        border-bottom: 3px solid $color-third;
        color: $color-white;
        &--show{
            display: flex;
        }
    }
    &__input:focus {
        outline: none;
    }
    &__input::placeholder {
        color: $color-white;
    }

}