// ------------------------------------------------------------------
// FONT IMPORTS
// ------------------------------------------------------------------

//@include font-face('FONTNAME', '../fonts/FILENAME', 500, normal, woff2 woff);
/*@font-face('Arboria', './fonts/Arboria-Thin', 100, normal, woff2 woff);
@ont-face('Arboria', './fonts/Arboria-Light', 300, normal, woff2 woff);
@font-face('Arboria', './fonts/Arboria-Medium', 500, normal, woff2 woff);
@font-face('Arboria', './fonts/Arboria-Book', 400, normal, woff2 woff);
@font-face('Arboria', './fonts/Arboria-Bold', 700, normal, woff2 woff);*/
@font-face {
  font-family: 'Arboria-Book';
  src: local('Arboria'), url(./fonts/Arboria-Medium.otf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Arboria', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Arboria', sans-serif;
}
